<form action="{% url 'importer:action' %}" method="post">
    {% csrf_token %}

    <fieldset>
        <legend><h1>Importer</h1></legend>
        <label for="Ipath">Path</label><br>
        <input type="text" id="Ipath" name="Ipath" value="{{ importer.import_path }}" size="90"><br>
        
        <input type="checkbox" id="cb_recursion" name="recursion" value="recursion" checked>
        <label for="cb_recursion">Scan subfolders</label><br>

        <input type="checkbox" id="cb_scan_files" name="scan files" value="Scan files">
        <label for="cb_san_files">Scan files</label><br>

        {% comment %} <div>
            <input type="radio" id="update" name="radio_upd" value="Update" checked>
            <label for="update">Update</label><br>
            <input type="radio" id="insert" name="radio_upd" value="Insert">
            <label for="insert">Insert</label><br>
        </div> {% endcomment %}

    </fieldset>

    <input type="submit" name="list" value="List">
    <input type="submit" name="delete" value="Delete">
    <input type="submit" name="import" value="Import">
</form>