
#wrapper {
    overflow: hidden;    
}

.container{
    border: 1px solid grey;
    margin-bottom: 3px;
}

.rep_column_left{
    width: 40%;
    float:left;
    border: 1px solid grey;
}

.rep_column_right{
    width: 40%;
    overflow: hidden;
    border: 1px solid grey;
}